.container {
  max-width: 1400px;
  margin: auto;
  padding: 10px;
  padding-top: 35px;
  padding-bottom: 25px;
}

.section-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #333;
}

a {
  color: black;
  text-decoration: none;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0 18px 0 9px;
  color: rgb(129, 129, 129);
  font-weight: 600;
}

.col-title {
  width: 325px;
  text-align: center;
}

.col-publisher {
  width: 100px;
  text-align: center;
}

.col-genre {
  width: 100px;
  text-align: center;
}

.col-details {
  width: 150px;
  text-align: center;
}

.list-item {
  width: 100%;
  background-color: white;
  display: flex;
  box-shadow: 0 4px 14px -12px rgba(0, 0, 0, 0.53);
  padding: 9px 18px 9px 9px;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.list-item:hover {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.img-title-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 325px;
}

.book-cover {
  width: 60px;
  height: 85px;
  border: 0.2px solid #cecece;
  object-fit: cover;
}

.book-title {
  margin-bottom: 2px;
  font-weight: 600;
}

.book-author {
  color: #666;
  font-size: 0.9em;
}

.btn-details {
  font-size: 14px;
  padding: 12px 24px;
  border: none;
  background: rgb(100, 28, 182);
  color: white;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  width: 150px;
  display: inline-block;
}

.btn-details:hover {
  background: rgb(79, 21, 145);
}

@media (max-width: 1000px) {
  .col-publisher,
  .col-genre {
    display: none;
  }

  .list-header,
  .list-item {
    justify-content: space-between;
  }
}
