main {
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  padding: 1px 0;
  min-height: 96vh;
  background-size: cover;
  background-attachment: fixed;
}

.padding-bottom {
  padding-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  padding: 50px 40px;
  border-radius: 2px;
  margin: 0 auto 15px;
  background-color: white;
  box-shadow: 0 4px 14px -12px rgba(0, 0, 0, 0.53);
  width: 100%;
  box-sizing: border-box;
}

.section {
  width: 100%;
  padding: 0 25px;
}

.title {
  font-size: 35px;
  margin-bottom: 40px;
  color: #000;
  text-align: center;
}

.form-wrapper {
  margin-top: 20px;
}

form {
  display: grid;
  column-gap: 2rem;
  row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
  font-weight: 500;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: rgb(89, 32, 201);
}

#roles-group {
  grid-column: 1 / -1;
}

.radio-group {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio-item input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.radio-item label {
  margin-bottom: 0;
  cursor: pointer;
}

.button-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button[type="submit"] {
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  border: none;
  background: #000000;
  color: white;
  padding: 14px;
  font-size: 17px;
  border-radius: 4px;
  transition: background 0.2s;
  font-weight: 500;
}

button:hover:not(:disabled) {
  background: #333;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.message {
  margin-top: 25px;
  text-align: center;
  font-weight: 500;
}

.success {
  color: green;
}
.error {
  color: red;
}

.error-text {
  color: #d32f2f;
  font-size: 0.85em;
  margin-top: 5px;
}

@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
}
