.container {
  max-width: 1650px;
  margin: auto;
  padding: 10px;
  padding-top: 45px;
}

h2 {
  font-size: 21px;
}

.featured {
  display: grid;
  column-gap: 18px;
  row-gap: 28px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 230px));
  justify-content: space-evenly;
  max-width: 1650px;
  width: 100%;
  margin: 10px auto auto;
  padding: 25px;
}

.featured-book {
  background-color: white;
  box-shadow: 0 4px 14px -12px rgba(0, 0, 0, 0.53);
  min-height: 350px;
  padding: 12px;
  color: #000000;
}

.featured-book:hover {
  transition: all 0.3s ease;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
}

.book-cover {
  width: 100%;
  height: 280px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 0.8px;
  border-color: #b9b9b9;
}

.book-title {
  margin-bottom: 5px;
}

.book-author {
  margin-bottom: 15px;
}
