.container-nav {
  padding: 5px 25px;
  margin: 8px;
  border-radius: 6px 6px 0 0;
  background-color: #ffffff;
  box-shadow: 0 4px 14px -12px rgba(0, 0, 0, 0.53);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 4px;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.logo {
  margin-top: -4px;
}

.div-logo {
  display: flex;
  gap: 65px;
  align-items: center;
  height: 50px;
}

.nav-link-books {
  font-size: 19px;
  margin-bottom: 3px;
  color: black;
}

.nav-link-books:hover {
  color: rgb(137, 69, 214);
  transition: 0.2s;
}

.nav-list {
  display: flex;
  gap: 9px;
  list-style: none;
  font-family: "Roboto Slab", sans-serif;
}

.nav-item {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav-item a:hover {
  color: rgb(137, 69, 214);
  transition: 0.2s;
}

.nav-link {
  font-size: 17px;
  color: black;
  font-weight: 500;
  transition: 0.2s;
  padding: 4px 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.nav-dropdown {
  position: relative;
  display: flex;
  height: 100%;
}

.nav-dropdown .dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: -15px;
  background-color: #fff;
  box-shadow: 0 4px 14px -12px rgba(0, 0, 0, 0.53);
  z-index: 1;
  min-width: 180px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.2s;
}

.dropdown-menu a {
  display: block;
  padding: 18px 18px;
  width: 120%;
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

svg {
  width: 20px;
  height: 20px;
}

.svg-link {
  padding-right: 5px;
}

.profile-pic {
  width: 45px;
  height: 45px;
  margin-right: 12px;
  border-radius: 50%;
  display: block;
}

@media (max-width: 500px) {
  .nav-item {
    gap: 15px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .nav-list.active {
    right: 0;
  }

  .profile-pic {
    display: none;
  }

  .container-nav {
    padding: 2px 10px;
  }

  .logo {
    width: 90%;
  }
}
