main {
  background-color: #f1f1f5;
  font-family: "Space Grotesk", sans-serif;
  padding: 15px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.side-image {
  border-radius: 25px 0 0 25px;
  background-image: url("/assets/img-login.jpg");
  background-size: cover;
  background-position: center;
  width: 502px;
  height: 641px;
}

.info-panel {
  background-color: #ffffff;
  height: 641px;
  width: 560px;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.info-box {
  padding-left: 100px;
  padding-right: 20px;
  width: 100%;
}

.logo {
  margin-bottom: 30px;
  display: block;
}

.heading-login {
  font-size: 22px;
  padding-bottom: 24px;
  color: #333;
}

fieldset {
  border: medium none;
  margin: 0 0 15px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

input {
  width: 100%;
  max-width: 300px;
  height: 45px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
}

input:focus {
  outline: 2px solid #000;
  border-color: transparent;
}

button {
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  border: none;
  background: #000000;
  color: rgb(255, 255, 255);
  margin: 10px 0;
  padding: 12px;
  font-size: 1rem;
  border-radius: 4px;
  font-family: "Space Grotesk", sans-serif;
  transition: background 0.2s;
}

button:hover {
  background: #333;
}

a {
  text-decoration: none;
  color: black;
}

.forgot-pass {
  display: block;
  margin-top: 15px;
  font-size: 0.9rem;
  color: #666;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.error-message {
  color: #d32f2f;
  margin-bottom: 15px;
  font-size: 0.9rem;
  font-weight: 500;
}

.lang-switcher {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  padding-right: 58px;
}

.flag {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s;
  border-radius: 50%;
}

.flag:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.flag.active {
  opacity: 1;
  border: 2px solid #6136a3de;
  transform: scale(1.1);
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7;
}

button:disabled:hover {
  background-color: #cccccc;
}

@media (max-width: 900px) {
  .side-image {
    display: none;
  }

  .info-panel {
    border-radius: 25px;
    width: 100%;
    max-width: 500px;
  }

  .info-box {
    padding: 40px 40px 0 40px;
  }

  .lang-switcher {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 0;
  }
}
