.container-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/background.jpg");
  background-size: cover;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 8rem;
  margin: 0;
  color: #000;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.button {
  padding: 12px 30px;
  background: #000;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background: #333;
}
