.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0 45px;
  background-color: #333333;
}

.bar {
  box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.53);
}

.dropdown {
  padding: 14px;
  border: none;
  color: #757575;
  box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.53);
}

.dropdown:focus {
  outline: 0.3px solid #000000;
}

option:enabled {
  font-size: 15px;
  color: #757575;
}

input[type="text"] {
  font-size: 14px;
  border: none;
  padding: 14px;
  margin-right: 4px;
  display: inline-block;
  width: 40%;
}

input[type="text"]:focus {
  outline: 0.3px solid #000000;
}

.search-btn {
  font-size: 14px;
  padding: 15px 20px;
  border: none;
  background: #6f40b9;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 15px;
}

.search-btn:hover {
  background: #7e4bcf;
  transition: 0.2s;
}
